@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@keyframes reload {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Main */

.main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: linear-gradient(180deg, #19366b 20%, #148181 80%);
    min-height: 100vh;
}

/* Card Section */

.sectionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitle {
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
    margin-bottom: 2%;
}

.secondTitle {
    text-align: center;
    font-size: 1.7em;
    text-shadow: -1px 0 black, 1 5px black, 1px 0 black, 0 -1px black;
    color: white;
    width: 100%;
}

/* Form */

#movieForm {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 30%;
}

.input-group-text {
    display: flex;
    justify-content: center;
    width: 5em;
}

.inputBorder {
    border: 2px solid black;
}

.inputRad,
.inputBorder {
    border-radius: 1em;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
}

.ratingSlider {
    width: 40%;
}

.formBtnCreate {
    background-color: rgb(245, 43, 43);
    width: 5em;
    font-size: 1.3em;
    border: rgba(0, 0, 0, 0.479) solid 1px;
    border-radius: 5%;
    color: white;
    text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
}

.formBtnCreate:hover,
.formBtnCreate:focus {
    background-color: rgb(139, 6, 6);
    border: solid 1px black;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    box-shadow: none;
}

/* Card Creator (JS DOM) */

#movieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.movieCard {
    display: flex;
    flex-flow: column wrap;
    border: 2px solid rgba(32, 31, 31, 0.274);
    background: linear-gradient(180deg, #280655 20%, #148181 80%);
    margin: 1%;
    text-align: center;
    width: 20em;
}

.movieTitle {
    font-size: 1.4em;
    color: white;
    text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
    border-bottom: 2px solid rgba(32, 31, 31, 0.274);
    background: linear-gradient(120deg, #4815be 30%, #148181 100%);
}

.movieText {
    font-size: 1.1em;
    margin: 2%;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-transform: capitalize;
}

.movieTextBold {
    color: red;
}

/*! Filtro */

.filter {
    display: none;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* !Login */

.containerUser {
    border-radius: 5px;
    animation-name: reload;
    animation-duration: 0.5s;
    transition: 2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 30px 40px;
    width: 50%;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    background-color: #1b427c;
    border: 2px solid #3b2c8d86;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.hiddeContent {
    display: none;
}