* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@keyframes btnHover {
  from {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes reload {
  from {
    opacity: 0;
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background: linear-gradient(180deg, #0a1730 20%, #0a4646 80%);
}

.bodyFirst {
  display: flex;
  flex-direction: column;
}

.carouSect {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}

.carouImg {
  object-fit: cover;
}

.containerUser {
  border-radius: 5px;
  animation-name: reload;
  animation-duration: 1s;
  transition: 2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
  width: 50%;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.secondTitle {
  text-align: center;
  font-size: 1.7em;
  text-shadow: -1px 0 black, 1 5px black, 1px 0 black, 0 -1px black;
  color: white;
  width: 100%;
}

.form button {
  background-color: #1b427c;
  border: 2px solid #3b2c8d86;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.carouselFirst {
  width: 80%;
}

.hiddeContent {
  display: none;
}

.filter {
  display: none;
}

nav {
  background: linear-gradient(-40deg, #148181 0%, #11355f 25%);
}

.btn-search {
  background-color: #075757;
  border: none;
}

.btn-search:active,
.btn-search:hover,
.btn-search:focus {
  background-color: #075757;
}
.sectionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: reload;
  animation-duration: 0.5s;
}

.mainTitle {
  text-align: center;
  font-size: 2em;
  color: white;
  text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
  margin-bottom: 2%;
}

.card img {
  max-height: 18rem;
  min-height: 18rem;
}

.mBtn {
  width: 100%;
  background-color: #10366e;
  color: white;
  font-size: 1.3em;
}

.btn:focus,
.btn:hover,
.btn:active {
  animation-name: btnHover;
  animation-duration: 0.3s;
  outline: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.856);
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  box-shadow: none;
}

.navText {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.2em;
}

.row {
  margin-bottom: 20px;
}

.new-row {
  display: none;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}